<div class="main-container">
    <img class="main-img"
        src="https://api.soimilk.com/sites/default/files/14542476_583425218533725_6053367820133003646_o.jpg" alt="">

    <div class="bag">
        <h2>FIND YOUR BAGS</h2>
        <div class="img-type">
            <a href="/bags/backpack/"><img
                    src="https://freitag.rokka.io/freitag_1920_1920_1x_focal_scale_crop/58a480d0a4892afc0831dc5adea850275f571dcb/f49-fringe-categories-backpacks.jpg?h=b044a8f9&itok=hRkTneKy">
                BACKPACKS</a>

            <a href="/bags/messenger"><img
                    src="https://freitag.rokka.io/freitag_1920_1920_1x_focal_scale_crop/4eb912fb11046e259d0698a3e349dd96c3915b14/bags-greenblue-edition-messenger.jpg?h=b044a8f9&itok=npEVGtA1">
                MESSENGER BAGS</a>

            <a href="/bags/tote"><img
                    src="https://freitag.rokka.io/freitag_1920_1920_1x_focal_scale_crop/ce5a75ecbe38ed3ee2c0df90125c607e53c64546/f203-bob-blau-shopper.jpg?h=58aa6d6d&itok=hZN3803-">
                SHOPPER & TOTE BAGS</a>
        </div>
    </div>

    <div class="accessories">
        <h2>OUR ACCESSORIES</h2>
        <div class="img-type">
            <a href="/accessories/wallets"><img
                    src="https://freitag.rokka.io/freitag_1920_1920_1x_focal_scale_crop/809b3818ef2e86c1e881c43dfb4a642d6e468689/blue-edition-wallets.jpg?h=b044a8f9&itok=siSRE6hO">WALLETS</a>


            <a href="/accessories/cases"><img
                    src="https://freitag.rokka.io/freitag_1920_1920_1x_focal_scale_crop/2b95cdcacb9234240110346d3365dd6888515a40/laptop-sleeves-rainbow-acc.jpg?h=3d58393a&itok=LHosDjbE">
                CASE & SLEEVES </a>

            <a href="/accessories/toiletry"><img
                    src="https://freitag.rokka.io/freitag_1920_1920_1x_focal_scale_crop/76e0a8a6fc2e803be2bfa5bc744025c7486eb28f/f35-cheyenne-blue-travelpouch.jpg?h=8a33473d&itok=9vT84JzH">
                TOILETRY BAGS</a>
        </div>
    </div>

</div>